{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'navBar.css' %}">

</head>
    <body>
    <header>
        <a id="logo">Print<span>3D</span></a>
        <nav>
            <ul>
                <a id="hoverBar">View</a>
                <a id="hoverBar">Contact</a>
                <a id="hoverBar">About</a>
            </ul>
        </nav>
        <a href="#" id="signBnt"><button>Sign In</button></a>
        </header>
    </body>
</html>
